APP_NAME=FlashDrive
APP_ENV=local
APP_KEY=base64:2UMpWb+wKAjwZ0AvSOXs0Y3LSQdtxO+a4O2ULaWbU5U=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://www.flash-drive.site
APP_SECURE_URL=http://www.flash-drive.site
APP_ASSETS_URL=http://www.flash-drive.site/public
APP_TIMEZONE=Asia/Karachi

; Other Settings
EXPIRE_FORGOT_PASSWORD_REQUEST=24
DEFAULT_HOMEOWNER_PASSWORD=admin0101
VIOLATIONS_IMAGE_RESIZE=true
VIOLATIONS_IMAGE_MAX_WIDTH=1600
VIOLATIONS_IMAGE_MAX_HEIGHT=auto
VIOLATIONS_IMAGE_QUALITY=90
VIOLATIONS_IMAGE_RESIZE_SCALE=ratio

; Google Map
GOOGLE_MAP_KEY=AIzaSyAfV6AdqMtB6PFHYnNEH8tmiHdd19T-uGY

; Database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=flash-drive
DB_USERNAME=homestead
DB_PASSWORD=secret

; Cache
BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

; Mailhog settings
MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

; Google ReCaptcha
NOCAPTCHA_SECRET=6LcnH0AUAAAAAPDkvTV8jyRl1xF4xj62UoAVD8xs
NOCAPTCHA_SITEKEY=6LcnH0AUAAAAAE4sMMfxAY_Xf80QRRUKXuwJvco3

; PayPal
PAYPAL_SANDBOX=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=


